:root {
  --bread-border-color: #d9a566;
  --bread-fill-color: #fdf1d6;
  --bread-crust-mid-color: #ebcb9e;
}

.jua-regular {
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Jua', sans-serif;
  background-color: #05060f;
  background-image: url('./img/bg_stars_milky_way.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bread-font-light {
  color: var(--bread-fill-color);
  text-shadow: 1px 1px var(--bread-border-color);
  margin: 0;              /* p 태그 기본 여백 제거 (원할 경우 조정) */
}

.bread-font{
  color: var(--bread-border-color);
  text-align: center;
}

.bread-font-h1{
  color: var(--bread-border-color);
  text-shadow: 2px 2px var(--bread-crust-mid-color);
  font-size: 3em;
  margin: 20px 0px 0px 0px;
}

.bread-font-h3{
  color: var(--bread-border-color);
  text-shadow: 1px 1px var(--bread-crust-mid-color);
  font-size: 2em;
  margin: 10px 0px 0px 0px;
  text-align: center;
}